{% extends 'base.html.twig' %}
{% block page_name %}auth{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/auth-registr.css') }}">
{% endblock %}
{% block content %}
<div class="auth-container">
    <h2>Увійдіть, будь ласка :)</h2>
    <form action="{{ path('app_login') }}" method="post">
        <input type="text" name="_username" placeholder="Пошта" class="auth-input" required>
        <input type="password" name="_password" placeholder="Пароль" class="auth-input" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="auth-btn">Увійти</button>
    </form>
    {% if error %}
        <form action="{{ path('app_forgot_password_request') }}" method="get">
            <button class="auth-btn secondary-btn" style="margin-top: 10px;">
                Забули пароль?
            </button>
        </form>
    {% endif %}
    <div class="divider">Або</div>

{#    <div class="social-login">#}
{#      <a href="/oauth/apple"><img src="images/apple.svg" alt="Apple"></a>#}
{#      <a href="/oauth/google"><img src="images/google.svg" alt="Google"></a>#}
{#      <a href="/oauth/facebook"><img src="images/facebook2.svg" alt="Facebook"></a>#}
{#    </div>#}

    <div class="auth-footer">
      Не маєте акаунту? <a href="{{ path('register') }}">Зареєструватися</a>
    </div>

  </div>
{% endblock %}
