{% extends 'base.html.twig' %}

{% block page_name %}main{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

 {% block content %}
   <section class="hero">
     <div class="hero-content">
       <h1>Навчайся — твоє майбутнє варте найкращого вибору.</h1>
       <a href="about">Дізнатись про нас більше</a>
     </div>
     <div class="hero-logo">
       <img src="{{ asset('images/lightbulb.svg') }}" alt="НавчайСя логотип" class="logo">
     </div>
   </section>

   <main class="content">

       {% set images = ['img1.jpg', 'img2.png', 'img4.png', 'img3.jpg'] %}

       {% for news in newsList|slice(0,4) %}
           <article class="news-card" data-href="{{ path('show.news', { id: news.id }) }}">
               <div class="card-image">
                   <img src="{{ asset('images/' ~ images[loop.index0]) }}" alt="">
               </div>
               <div class="card-content">
                   <h2>{{ news.title }}</h2>
                   <p>{{ news.content[:100] ~ '...' }}</p>
                   <span>{{ news.publishedAt }}</span>
               </div>
           </article>
       {% endfor %}
   </main>
     {% block javascripts %}
         <script>
             document.addEventListener("DOMContentLoaded", function () {
                 document.querySelectorAll(".news-card").forEach(function (card) {
                     card.style.cursor = "pointer";
                     card.addEventListener("click", function () {
                         const href = card.getAttribute("data-href");
                         if (href) {
                             window.location.href = href;
                         }
                     });
                 });
             });
         </script>
     {% endblock %}
 {% endblock %}
