{% extends 'base.html.twig' %}

{% block page_name %}news{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/news.css') }}">
{% endblock %}

{% block content %}

    <section class="content">
        {% set imageNames = [
            'news1.jpg', 'news2.jpg', 'news3.jpg', 'news4.jpg',
            'news5.jpg', 'news6.jpg', 'news7.jpg', 'news8.jpg',
            'img1.jpg', 'img2.png'
        ]|shuffle %}
        {% for news in newsList %}
            <article class="news-card" onclick="location.href='{{ path('show.news', { id: news.id }) }}'" style="cursor: pointer;">
                <div class="card-image">
                    <img src="{{ asset('images/news/' ~ imageNames[loop.index0]) }}" alt="Зображення новини">
                </div>
                <div class="card-content">
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.content[:200] ~ '...' }}</p>
                    <span>{{ news.publishedAt }}</span>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
