{% extends 'base.html.twig' %}

{% block title %}Новина: {{ news.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ backUrl }}" class="back-button">← Повернутись</a>
        <div class="image-text">
            <img src="{{ asset('images/news/' ~ imageName) }}" alt="Зображення новини">
            <div class="text-block">
                <h1>{{ news.title }}</h1>
                <p class="news-detail-date">{{ news.publishedAt }}</p>
                <p>{{ news.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
